@{
    ViewData["Title"] = "Welcom Every One";
}

<div class="text-center">
    <h2>Building Web apps with</h2>
    <h2>ASP.NET Core 8.0, MVC, EntityFramework, Repository Pattern</h2>
    <p>Git Hub<a href="https://github.com/pun-pannapan/asp_mvc_crud" class="px-2">Repository</a></p>
</div>
